################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FluentReports/CopilotIndices/17.14.1091.29919
/.vs
/FluentReports.Core/bin/Debug
/FluentReports.Core/obj
/FluentReports.Demo/bin/Debug/net10.0
/FluentReports.Demo/obj
/FluentReports.EnhancedDemo/bin/Debug/net10.0
/FluentReports.EnhancedDemo/obj
/FluentReports.Tests/bin/Debug
/FluentReports.Tests/obj
